Source: tla-buildpackage
Section: devel
Priority: optional
Maintainer: John Goerzen <jgoerzen@complete.org>
Build-Depends-Indep: debhelper (>= 4.0.0), python2.3-dev, gtk-doc-tools, sgml2x, docbook-utils, jade, tla-load-dirs, lynx
Standards-Version: 3.6.0

Package: tla-buildpackage
Architecture: all
Depends: python2.3, tla, tla-load-dirs, dpkg-dev, devscripts, python-apt, dpkg-dev
Description: Set of scripts to help load Debian packages into Arch archives
 This package provides the following programs:
 .
 tla-buildpackage: Builds a Debian package based on information in
 the repository, checking out Debian and upstream versions as necessary.
 .
 tla-importpackage: Takes a Debian .dsc and imports it into a tla
 repository, taking note to handle Debian and upstream versions
 appropriately.
